
.team {
    background-color: #F5F4FA;
}
.team-section {
    background: #F5F4FA;
    padding-bottom: 60px;
}
.team-list {
    padding: 0px;
    margin: 0px;
    text-align: center;
    margin-bottom: -30px;
        margin: 0 auto;
    margin-bottom: 30px;
        @media screen and (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            
        }
}
.team-item {
    @media screen and (min-width:480px) {
                margin-bottom: 30px;
        }
    
@media screen and (min-width:768px) {
        margin-bottom: 30px;
        flex-basis: calc(100% / 2 - 30px);
    }

    @media screen and (min-width:1200px) {
        flex-wrap: wrap;
        flex-basis: calc(100% / 4 - 30px);
        margin-right: 30px;
      
    }
    background-color: #fff;
}
.team-list .team-item:last-child {
    margin-right: 0px;
    margin-left: 0px;
}
.team-top-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.88;
    color: var(--secondary-text-color)
}

.team-desc {
    font-size: 16px;
    line-height: 1.18;
    color: var(--primary-text-color);
}


